.intro-image {
  width: 100%;
  height: auto;
  margin-top:-40px;
  
  @include media-breakpoint-up(sm) {
    float: right;
    width: 300px;
  }
  @include media-breakpoint-up(md) {
    float: right;
    width: 400px;
  }
  @include media-breakpoint-up(lg) {
    float: right;
	width: 500px;
  }
}
