---
layout: default
bodyClass: page-school
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12">
		{% if page.intro_image %}
           <img alt={{ page.title }} class="intro-image" src="{{ page.intro_image | relative_url }}" />
		{% endif %}
        {{ content }}
      </div>
    </div>
  </div>
</div>

<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">
      {% for announcement in site.announcements %}
	  {% if announcement.school %}
      <div class="col-12 col-md-4 mb-1">
        <div class="announcement announcement-summary">
          <div class="announcement-content">
            <h2 class="announcement-title">
				{% if announcement.link %} 
					<a href="{{announcement.link}}">{{ announcement.title }}</a>
				{% else %}
					<a href="{{site.baseurl}}{{ announcement.url }}">{{ announcement.title }}</a>
				{% endif %}
            </h2>
            <p>
		    {% if announcement.description %} 
				{{ announcement.description | markdownify | strip_html }}
			{% else %}
				{{ announcement.content | markdownify | strip_html | truncate: 100 }}
			{% endif %}
		    </p>
          </div>
        </div>
      </div>
	  {% endif %}
      {% endfor %}
    </div>
  </div>
</div>